@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500|Raleway:500i&display=swap");
*{
  box-sizing: border-box;
}
html,
body {
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    background: #fafafa;
  overflow-x: hidden;
  width: 100%;

}

nav{
    position: fixed;
}
.nav-btn {
    width: 163px;
    height: 44px;
    border-radius: 50px;
    font-size: 0.9rem;
  }
  .nav-btn1 {
    border: 2px solid #f8d373;
    color: #f8d373;
  }
  .nav-btn2 {
    background: #3684eb;
    border: none;
    color: #e6effb;
  }
  .navbar-brand{
    background-color: #ff0000c7;
    color: #fff;
  }

  header, section{
      background-color: #fff;
  }

  section.banner{
      background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1574597745/web-design-2038872_1920_xcjjgt.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
      padding: 20px;
  }

  div.banner-text{
    min-height: 30%;
    padding: 30px 30px;
    background-color: #00000075 ;
    color: #fff;
      margin-top: 23vh;
      text-align: center;
      
  }
  div.banner-text h1{
    font-size: 45px;
  }
  #subtext {
	display: inline-block;
	vertical-align: middle;
    letter-spacing: 1px;
    font-size: 25px;
    opacity: 0.9;
}

#cursor {
 
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 3px;
	background-color: #fff;
	animation: blink .75s step-end infinite;
}
/*hr.sep{
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #8f8f8f, #f0f0f0);
  width: 70%;
}
hr.sep::after{
  display: inline-block;
  content: '§';
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 1rem;

}*/

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #fff; 
	}
}

  footer{
      background-color: #343a40;
      color: #fff;
  }
@media only screen and (min-width: 800px){
    body{
        padding: 0 120px;
    }
}
@media only screen and (max-height: 460px), (max-width: 460px) {
  div.banner-text{
      margin-top: 10vh;
  }
}
@media only screen and (max-width: 460px) {
  div.banner-text h1{
      font-size: 30px;
  }

  #subtext{
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) and (min-height: 500px) {
  section.banner{
      height: 70vh;
  }
  div.banner-text{
    height: min-content;
}
}